.sub-menu {
    border-left: 1px solid white;
}

.sidebar .nav-item {
    max-width: 100%;
}

.sidebar .nav-item .nav-link {
    width: 185px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.sidebar .nav-item .nav-link span {

}
