@using Markdig
@using Markdig.SyntaxHighlighting

<div class="markdown-container">
    @GetRenderedMarkdownString()
</div>

@code {

    [Parameter]
    public string Content { get; set; }

    private static MarkdownPipeline MarkdownPipeline = new MarkdownPipelineBuilder()
        .UseAdvancedExtensions()
        .UseSyntaxHighlighting()
        .UseBootstrap()
        .UseEmojiAndSmiley()
        .UseSmartyPants()
        .Build();

    private MarkupString GetRenderedMarkdownString() => (MarkupString) Markdig.Markdown.ToHtml(
        markdown: Content,
        pipeline: MarkdownPipeline
    );

}
